
<div class="login-body" ng-controller="loginCtrl">
    <img class="big-img" src="../img/bg.png" alt="图片">
    <div class="box">
        <h2 class="manage">后台管理</h2>
        <!--表单部分-->
        <form name="loginForm" autocomplete="off">
            <div class="user-name">
                <img class="img" src="../img/man1.png" alt="图片">
                <input class="input" type="text"
                       id="user"
                       placeholder="请输入用户名"
                       name="userName"
                       ng-model="name"
                       required
                       oninvalid="setCustomValidity('用户名不能为空')"
                       oninput="setCustomValidity('')">
            </div>
            <div class="password">
                <img class="img" src="../img/suo1.png" alt="图片">
                <input class="input" id="password" type="password"
                       placeholder="请输入密码"
                       name="password"
                       ng-model="pwd"
                       required
                       oninvalid="setCustomValidity('密码不能为空')"
                       oninput="setCustomValidity('')">
            </div>
            <p id="warning" ng-bind="message"></p>
            <button class="btn btn-a" ng-click="submitForm(loginForm.$valid)">登录</button>
        </form>
    </div>
</div>
